.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
