#root {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app {
  padding: 10px;
}


.not-found-msg {
  margin-top: 50px;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin: 150px 0;
}

.page-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.page_current {
  border: 2px solid rgb(126, 0, 180);
}

.result-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  border: 1px solid black;
  padding: 5px;
}

.details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.details-close {
  position: absolute;
  top: 10px;
  right: 10px;
}